# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Entornos virtuales
venv/
.venv/

# Variables de entorno
.env

# IDEs
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# FastAPI / pytest cache
.pytest_cache/

# n8n local (si lo tienes en repo)
n8n-data/